
.spinner-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #141414;
}
.spinner-app {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
